<footer class="footer py-5 pt-lg-6">
    <div class="sticky-left d-flex align-items-center bg-white p-3 pt-4 px-4 border border-soft shadow-sm rounded">
        <span class="mr-3 d-block font-small mb-1">Open source ❤️</span>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/javanile/todaynotes" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star javanile/todaynotes on GitHub">Star</a>
    </div>
    <div class="sticky-right">
        <a href="#home" class="icon icon-primary icon-md btn btn-icon-only btn-white border border-soft shadow-soft animate-up-3">
            <span class="fas fa-chevron-up"></span>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <p>
                    TodayNotes is an open source and free web application to manage notes. <br>
                    It is designed to simplify the work in collecting notes, as the only thing you need to be truly productive and effective is a blank sheet and your keyboard.
                </p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com/hashtag/TodayNotes" aria-label="twitter social link" class="icon icon-md icon-twitter mr-3">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/hashtag/TodayNotes" class="icon icon-md icon-facebook mr-3" aria-label="facebook social link">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/javanile/todaynotes" aria-label="github social link" class="icon icon-md icon-github mr-3">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/feed/hashtag/?keywords=todaynotes" class="icon icon-md icon-linkedin" aria-label="linkedin social link" >
                            <span class="fab fa-linkedin"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">TodayNotes</span>
                <ul class="footer-links mt-2">
                    <li><a href="#about">About</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#download">Open Source</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <span class="h5 mb-3 d-block">Subscribe</span>
                <form action="https://gmail.us2.list-manage.com/subscribe/post" method="post">
                    <input type="hidden" name="u" value="c3de8edbdd0c0952bac2ff85d">
                    <input type="hidden" name="id" value="25e6b00bf9">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <input type="email" class="form-control mb-2" placeholder="example@company.com" name="MERGE0" id="MERGE0" aria-label="Subscribe form" required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark shadow-soft btn-block" data-loading-text="Sending">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-muted font-small m-0">No spam. Pinky swear.</p>
            </div>
        </div>
        <hr class="bg-light my-2">
        <div class="row pt-2 pt-lg-5">
            <div class="col mb-md-0">
                <a href="https://todaynotes.io" target="_blank" class="d-flex justify-content-center">
                    <img src="@@path/assets/img/logo.png" height="25" class="mb-3" alt="TodayNotes Logo">
                </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © TodayNotes 2020-<span class="current-year">2022</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
